.bg-full {
    background: url(/static/assets/city-bg.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
}

.inlineup {
    display: inline;
    vertical-align: middle;
}

.loading {
    background-color: white;
    height: 225px;
    width: 450px;
    z-index: -1;
    opacity: 0.9;
}


/* plane flying */
.feiji-transition {
    position: absolute;
    width: 100%;
    height: 100%;
}
.feiji-leave {
    animation: feiji-leave 6s forwards;
    -webkit-animation: feiji-leave 6s forwards;
}
    
@keyframes feiji-leave {
    0% { opacity: 1; transform: translate(0%, 0%); }
    100% { opacity: 0; transform: translate(100%, -100%); }
}

@-webkit-keyframes feiji-leave {
    0% { opacity: 1; -webkit-transform: translate(0%, 0%); }
    100% { opacity: 0; -webkit-transform: translate(100%, -100%); }
}