/* SLIDE TRANSITION - https://stackoverflow.com/questions/16989585/css-3-slide-in-from-left-transition as a help */
.slide-transition {
    opacity: 1;
    transform: translateX(0%);
    position: absolute;
    width: 100%;
    height: 100%;
    margin-bottom: 65px; /* spacer for bottom bar */
}

.slide-enter {
    animation: slide-enter 1.2s forwards;
    -webkit-animation: slide-enter 1.2s forwards;
}

.slide-leave {
    animation: slide-leave 1.2s forwards;
    -webkit-animation: slide-leave 1.2s forwards;
}

@keyframes slide-enter {
    0% { opacity: 0.5; transform: translateX(100%);}
    100% { opacity: 1; transform: translateX(0%); }
}

@-webkit-keyframes slide-enter {
    0% { opacity: 0.5; transform: translateX(100%); }
    100% { opacity: 1; -webkit-transform: translateX(0%); }
}
    
@keyframes slide-leave {
    0% { opacity: 1; transform: translateX(0%); }
    100% { opacity: 0.5; transform: translateX(-100%); }
}

@-webkit-keyframes slide-leave {
    0% { opacity: 1; -webkit-transform: translateX(0%); }
    100% { opacity: 0.5; -webkit-transform: translateX(-100%); }
}

.fade-out-transition {
    animation: fade-out 2s forwards;
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}